body img {
    padding-top: 23px;
}

header {
    width: 100%;
    height: 60px;
    background-color: black;
}

header ul {
    float: left;
    line-height: 33px;
}

header ul li {
    float: left;
    list-style: none;
    padding-right: 120px;
    color: white;
    margin-left: 12px;
    font-size: 18px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: aqua;
}

body {
    font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}

h1 {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-left: 4px red solid;
    background-color: #f1f1f1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    width: 500px;
    font-size: 20px;
}

form {
    margin: 0 auto;
    background-color: #fbfbfb;
    border: 3px solid #ebebeb;
    border-radius: 10px;
    width: 500px;
}

form div {
    padding: 15px;
}

.text, textarea, dropdown {
    border: 1px solid #dfdfdf;
    padding: 5px;
    color: #999;
    background: #fff;
}

.submit {
    border: 1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color: #bfbfbf;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}

footer {clear: both;
       margin-top: 30px;
       width: 100%;
       height: 60px;
       color: white;
       background-color: black;
       text-align: center;
       line-height: 60px;
}